# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar

# makina-states mysql configuration (copy in your pillar,
#                                    uncomment and edit)
# makina-states.services.db.mysql.available_mem: 1500
# corpus mysql project configuration

{% set files="salt://makina-projects/{name}/files" %}
makina-projects.projectname:
  data:
    domain: '{fqdn}'
    force_ssl: true
    server_aliases: []
    password: "secret"
    host: "127.0.0.1"
    port: "8080"
    www_dir: '{data_root}/www'
    htaccess: '/etc/{name}.webaccess'
    nginx_vhost: "salt://makina-projects/{name}/files/nginx.conf"
    nginx_top: "salt://makina-projects/{name}/files/nginx.top.conf"
    var: "{data_root}/var"
    builds: "{data_root}/builds"
    no_ssh_shared_key: false
    configs:
      launcher.sh:
        target: "{data_root}/launcher.sh"
        source: "{{files}}/launcher.sh"
        user: "{user}"
        group: "{user}"
        mode: 750
      env.sh:
        target: "{data_root}/env.sh"
        source: "{{files}}/env.sh"
        user: "{user}"
        group: "{user}"
        mode: 640
    env:
      HTTP_PORT: "{port}"
      JAVA_ARGS: >-
                 -Xmx512m -Xms256m -Djava.awt.headless=true
                 -Djava.net.preferIPv4Stack=true
    # http_users:
    #   - root: foo
    # users:
    #   - foo: {password: 123}
# vim:set ft=sls:
